<!-- landing text and search input -->
<div>
    <!-- background container and image -->
    <div
        class=""
        style="
            background-image: url(../../../assets/pexels-jv-buenconcejo-2719301-largest.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        "
    >
        <!-- background text -->
        <div class="flex flex-col p-8 md:p-12">
            <h1 class="text-white">Welcome.</h1>
            <h2 class="text-white">Millions of movies and TV shows to discover.</h2>
            <!-- search form -->
            <form class="my-5" #form="ngForm" (ngSubmit)="submit(form)">
                <div class="relative">
                    <input
                        type="text"
                        id="search-home"
                        name="search"
                        [(ngModel)]="model.searchStr"
                        #search="ngModel"
                        class="form-control block p-2 w-full rounded-lg border border-purple-300 sm:text-sm focus:outline-none focus:ring-1 focus:ring-purple-400 focus:border-purple-700"
                        placeholder="Search..."
                    />
                    <button
                        type="submit"
                        [disabled]="!form.form.valid"
                        class="absolute right-1.5 bottom-1.5 top-1.5 bg-purple-300 hover:bg-purple-400 rounded hover:text-gray-700 focus:outline-none active:bg-purple-500 px-4 pb-0.5"
                    >
                        Search
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- tabs-container -->
    <div class="px-1 home-tabs">
        <div class="px-2 mt-4">
            <!-- tab-1 -->
            <div class="flex flex-row gap-1">
                <!-- header and icon 1-->
                <p class="text-black text-base tab-header">Trending</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5 place-self-center">
                    <path fill="none" d="M0 0h24v24H0V0z"></path>
                    <path
                        d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6h-6z"
                        fill="#c084fc"
                        class="color000000 svgShape"
                    ></path>
                </svg>
            </div>
            <!-- label and content 1-->
            <mat-tab-group animationDuration="2000ms" mat-align-tabs="center">
                <mat-tab label="Movies">
                    <!-- grid -->
                    <div class="grid grid-cols-2 gap-8 md:grid-cols-4 p-2">
                        <!-- grid content -->
                        <div
                            class="rounded-md w-40 shadow-sm shadow-purple-300 hover:shadow-md hover:shadow-purple-500 hover:-translate-y-1 flex flex-wrap flex-col"
                        >
                            <!-- grid content image -->
                            <div class="">
                                <img
                                    src="https://images.pexels.com/photos/12328375/pexels-photo-12328375.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                    alt=""
                                    class="h-auto w-40 rounded-t-md"
                                />
                            </div>
                            <!-- grid content text -->
                            <div class="flex flex-col py-1">
                                <div class="text-xs p-0 m-0 place-self-center">Movie Title</div>
                                <div class="text-xs p-0 m-0 place-self-center">20th October 2022</div>
                            </div>
                        </div>
                        <div>content</div>
                        <div>content</div>
                        <div>content</div>
                    </div>
                </mat-tab>
                <mat-tab label="Series">
                    <!-- grid -->
                    <div class="grid grid-cols-2 gap-8 md:grid-cols-4 p-2">
                        <!-- grid content -->
                        <div
                            class="rounded-md w-40 shadow-sm shadow-purple-300 hover:shadow-md hover:shadow-purple-500 hover:-translate-y-1 flex flex-wrap flex-col"
                        >
                            <!-- grid content image -->
                            <div class="">
                                <img
                                    src="https://images.pexels.com/photos/12328375/pexels-photo-12328375.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                    alt=""
                                    class="h-auto w-40 rounded-t-md"
                                />
                            </div>
                            <!-- grid content text -->
                            <div class="flex flex-col py-1">
                                <div class="text-xs p-0 m-0 place-self-center">Movie Title</div>
                                <div class="text-xs p-0 m-0 place-self-center">20th October 2022</div>
                            </div>
                        </div>
                        <div>content</div>
                        <div>content</div>
                        <div>content</div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="px-2 mt-3">
            <!-- tab-2 -->
            <div class="flex flex-row">
                <!-- header and icon 2-->
                <p class="text-black text-base tab-header">Top Rated</p>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    data-name="Layer 1"
                    viewBox="0 0 32 32"
                    class="w-6 h-3 place-self-center"
                >
                    <defs></defs>
                    <path
                        fill="#c084fc"
                        d="M13 2a2 2 0 00-2 2V28a2 2 0 004 0V4A2 2 0 0013 2zM5 14a2 2 0 00-2 2V28a2 2 0 004 0V16A2 2 0 005 14zM21 8a2 2 0 00-2 2V28a2 2 0 004 0V10A2 2 0 0021 8zM29 21a2 2 0 00-2 2v5a2 2 0 004 0V23A2 2 0 0029 21z"
                        class="colorba63c6 svgShape"
                    ></path>
                </svg>
            </div>
            <!-- label and content 2-->
            <mat-tab-group animationDuration="2000ms" mat-align-tabs="center">
                <mat-tab label="Movies">
                    <!-- grid -->
                    <div class="grid grid-cols-2 gap-8 md:grid-cols-4 p-2">
                        <!-- grid content -->
                        <div
                            class="rounded-md w-40 shadow-sm shadow-purple-300 hover:shadow-md hover:shadow-purple-500 hover:-translate-y-1 flex flex-wrap flex-col"
                        >
                            <!-- grid content image -->
                            <div class="">
                                <img
                                    src="https://images.pexels.com/photos/12328375/pexels-photo-12328375.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                    alt=""
                                    class="h-auto w-40 rounded-t-md"
                                />
                            </div>
                            <!-- grid content text -->
                            <div class="flex flex-col py-1">
                                <div class="text-xs p-0 m-0 place-self-center">Movie Title</div>
                                <div class="text-xs p-0 m-0 place-self-center">20th October 2022</div>
                            </div>
                        </div>
                        <div>content</div>
                        <div>content</div>
                        <div>content</div>
                    </div>
                </mat-tab>
                <mat-tab label="Series">
                    <!-- grid -->
                    <div class="grid grid-cols-2 gap-8 md:grid-cols-4 p-2">
                        <!-- grid content -->
                        <div
                            class="rounded-md w-40 shadow-sm shadow-purple-300 hover:shadow-md hover:shadow-purple-500 hover:-translate-y-1 flex flex-wrap flex-col"
                        >
                            <!-- grid content image -->
                            <div class="">
                                <img
                                    src="https://images.pexels.com/photos/12328375/pexels-photo-12328375.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                    alt=""
                                    class="h-auto w-40 rounded-t-md"
                                />
                            </div>
                            <!-- grid content text -->
                            <div class="flex flex-col py-1">
                                <div class="text-xs p-0 m-0 place-self-center">Movie Title</div>
                                <div class="text-xs p-0 m-0 place-self-center">20th October 2022</div>
                            </div>
                        </div>
                        <div>content</div>
                        <div>content</div>
                        <div>content</div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
