<!-- landing text and search input -->
<div>
    <!-- background container and image -->
    <div
        class=""
        style="
            background-image: url(../../../assets/pexels-jv-buenconcejo-2719301-largest.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        "
    >
        <!-- background text -->
        <div class="flex flex-col p-8 md:p-12">
            <h1 class="text-white">Welcome.</h1>
            <h2 class="text-white">Millions of movies and TV shows to discover.</h2>
            <!-- search form -->
            <form class="my-5" #form="ngForm" (ngSubmit)="submit(form)">
                <div class="relative">
                    <input
                        type="text"
                        id="search-home"
                        name="search"
                        [(ngModel)]="model.searchStr"
                        #search="ngModel"
                        class="form-control block p-2 w-full rounded-lg border border-purple-300 sm:text-sm focus:outline-none focus:ring-1 focus:ring-purple-400 focus:border-purple-700"
                        placeholder="Search..."
                    />
                    <button
                        type="submit"
                        [disabled]="!form.form.valid"
                        class="absolute right-1.5 bottom-1.5 top-1.5 bg-purple-300 hover:bg-purple-400 rounded hover:text-gray-700 focus:outline-none active:bg-purple-500 px-4 pb-0.5"
                    >
                        Search
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- This is the first mat tab -->

    <!-- tabs-container -->
    <div class="px-1 home-tabs">
        <div class="px-2 mt-4">
            <!-- tab-1 -->
            <div class="flex flex-row gap-1">
                <!-- header and icon 1-->
                <p class="text-black text-base font-medium tab-header">Trending</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5 place-self-center">
                    <path fill="none" d="M0 0h24v24H0V0z"></path>
                    <path
                        d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6h-6z"
                        fill="#c084fc"
                        class="color000000 svgShape"
                    ></path>
                </svg>
            </div>
            <!-- label and content 1-->
            <mat-tab-group animationDuration="2000ms" mat-align-tabs="center">
                <mat-tab label="Movies">
                    <!-- flex -->
                    <div class="flex flex-wrap gap-8 py-3 justify-center">
                        <!-- flex container content -->

                        <!-- trending movies -->
                        <ng-container *ngFor="let movie of PopularMovie">
                            <div
                                class="rounded-md w-36 shadow-sm shadow-purple-300 hover:shadow-md hover:shadow-purple-500 hover:-translate-y-1 flex flex-wrap flex-col"
                                (click)="openDetails('movie', movie.id)"
                            >
                                <!-- flex content image -->
                                <div class="">
                                    <img
                                        *ngIf="movie.poster_path"
                                        src="https://image.tmdb.org/t/p/w300/{{ movie.poster_path }}"
                                        alt=""
                                        class="w-36 rounded-t-md"
                                    />
                                    <div
                                        *ngIf="!movie.poster_path"
                                        class="bg-gradient-to-r from-purple-300 flex justify-center py-24"
                                    >
                                        <p>No image</p>
                                    </div>
                                </div>
                                <!-- flex content text -->
                                <div class="p-3 grid-tooltip">
                                    <div
                                        *ngIf="movie.title && movie.title.length > 17; else elseBlock"
                                        class="text-xs font-bold p-0 m-0"
                                        matTooltip="{{ movie.title }}"
                                    >
                                        {{ (movie.title | slice: 0:17) + '..' }}
                                    </div>
                                    <ng-template #elseBlock
                                        ><div class="text-xs font-bold p-0 m-0">{{ movie.title }}</div></ng-template
                                    >
                                    <div class="text-xs p-0 m-0">
                                        {{ movie.release_date | date: 'longDate' }}
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </mat-tab>

                <mat-tab label="Series">
                    <!-- flex -->
                    <div class="flex flex-wrap gap-8 py-3 justify-center">
                        <!-- flex container content -->

                        <!-- trending series -->
                        <ng-container *ngFor="let series of PopularSeries">
                            <div
                                class="rounded-md w-36 shadow-sm shadow-purple-300 hover:shadow-md hover:shadow-purple-500 hover:-translate-y-1 flex flex-wrap flex-col"
                                (click)="openDetails('series', series.id)"
                            >
                                <!-- flex content image -->
                                <div class="">
                                    <img
                                        *ngIf="series.poster_path"
                                        src="https://image.tmdb.org/t/p/w300/{{ series.poster_path }}"
                                        alt=""
                                        class="w-36 rounded-t-md"
                                    />
                                    <div
                                        *ngIf="!series.poster_path"
                                        class="bg-gradient-to-r from-purple-300 flex justify-center py-24"
                                    >
                                        <p>No image</p>
                                    </div>
                                </div>
                                <!-- flex content text -->
                                <div class="p-3 grid-tooltip">
                                    <div
                                        *ngIf="series.name && series.name.length > 17; else elseBlock"
                                        class="text-xs font-bold p-0 m-0"
                                        matTooltip="{{ series.name }}"
                                    >
                                        {{ (series.name | slice: 0:17) + '..' }}
                                    </div>
                                    <ng-template #elseBlock
                                        ><div class="text-xs font-bold p-0 m-0">{{ series.name }}</div></ng-template
                                    >
                                    <div class="text-xs p-0 m-0">
                                        {{ series.first_air_date | date: 'longDate' }}
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>

        <!-- This is the second mat-tab -->

        <div class="px-2 mt-3">
            <!-- tab-2 -->
            <div class="flex flex-row">
                <!-- header and icon 2-->
                <p class="text-black text-base tab-header font-medium">Top Rated</p>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    data-name="Layer 1"
                    viewBox="0 0 32 32"
                    class="w-6 h-3 place-self-center"
                >
                    <defs></defs>
                    <path
                        fill="#c084fc"
                        d="M13 2a2 2 0 00-2 2V28a2 2 0 004 0V4A2 2 0 0013 2zM5 14a2 2 0 00-2 2V28a2 2 0 004 0V16A2 2 0 005 14zM21 8a2 2 0 00-2 2V28a2 2 0 004 0V10A2 2 0 0021 8zM29 21a2 2 0 00-2 2v5a2 2 0 004 0V23A2 2 0 0029 21z"
                        class="colorba63c6 svgShape"
                    ></path>
                </svg>
            </div>
            <!-- label and content 2-->
            <mat-tab-group animationDuration="2000ms" mat-align-tabs="center">
                <mat-tab label="Movies">
                    <!-- flex -->
                    <div class="flex flex-wrap gap-8 py-3 justify-center">
                        <!-- flex container content -->

                        <!-- top rated movies -->
                        <ng-container *ngFor="let movie of RatedMovie">
                            <div
                                class="rounded-md w-36 shadow-sm shadow-purple-300 hover:shadow-md hover:shadow-purple-500 hover:-translate-y-1 flex flex-wrap flex-col"
                                (click)="openDetails('movie', movie.id)"
                            >
                                <!-- grid content image -->
                                <div class="">
                                    <img
                                        *ngIf="movie.poster_path"
                                        src="https://image.tmdb.org/t/p/w300/{{ movie.poster_path }}"
                                        alt=""
                                        class="w-36 rounded-t-md"
                                    />
                                    <div
                                        *ngIf="!movie.poster_path"
                                        class="bg-gradient-to-r from-purple-300 flex justify-center py-24"
                                    >
                                        <p>No image</p>
                                    </div>
                                </div>
                                <!-- grid content text -->
                                <div class="p-3 grid-tooltip">
                                    <div
                                        *ngIf="movie.title && movie.title.length > 17; else elseBlock"
                                        class="text-xs font-bold p-0 m-0"
                                        matTooltip="{{ movie.title }}"
                                    >
                                        {{ (movie.title | slice: 0:17) + '..' }}
                                    </div>
                                    <ng-template #elseBlock
                                        ><div class="text-xs font-bold p-0 m-0">{{ movie.title }}</div></ng-template
                                    >
                                    <div class="text-xs p-0 m-0">
                                        {{ movie.release_date | date: 'longDate' }}
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </mat-tab>

                <mat-tab label="Series">
                    <!-- flex -->
                    <div class="flex flex-wrap gap-8 py-3 justify-center">
                        <!-- flex container content -->

                        <!-- trending series -->
                        <ng-container *ngFor="let series of RatedSeries">
                            <div
                                class="rounded-md w-36 shadow-sm shadow-purple-300 hover:shadow-md hover:shadow-purple-500 hover:-translate-y-1 flex flex-wrap flex-col"
                                (click)="openDetails('series', series.id)"
                            >
                                <!-- flex content image -->
                                <div class="">
                                    <img
                                        *ngIf="series.poster_path"
                                        src="https://image.tmdb.org/t/p/w300/{{ series.poster_path }}"
                                        alt=""
                                        class="w-36 rounded-t-md"
                                    />
                                    <div
                                        *ngIf="!series.poster_path"
                                        class="bg-gradient-to-r from-purple-300 flex justify-center py-24"
                                    >
                                        <p class="">No image</p>
                                    </div>
                                </div>
                                <!-- flex content text -->
                                <div class="p-3 grid-tooltip">
                                    <div
                                        *ngIf="series.name && series.name.length > 17; else elseBlock"
                                        class="text-xs font-bold p-0 m-0"
                                        matTooltip="{{ series.name }}"
                                    >
                                        {{ (series.name | slice: 0:17) + '..' }}
                                    </div>
                                    <ng-template #elseBlock
                                        ><div class="text-xs font-bold p-0 m-0">{{ series.name }}</div></ng-template
                                    >
                                    <div class="text-xs p-0 m-0">
                                        {{ series.first_air_date | date: 'longDate' }}
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
