<div class="bg-purple-300 grid grid-rows-2 gap-2 justify-center">
    <div class="flex flex-row flex-wrap gap-4 px-2 items-end">
        <a [routerLink]="['/']" class="inline-flex items-end">
            <div class="text-xl font-semibold leading-none">Movie-Database</div>
            <svg
                class="p-0 m-0"
                id="SvgjsSvg1012"
                width="24"
                height="24"
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:svgjs="http://svgjs.com/svgjs"
            >
                <defs id="SvgjsDefs1013"></defs>
                <g id="SvgjsG1014">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                        <path
                            d="M36 6v4h-4v-4h-16v4h-4v-4h-4v36h4v-4h4v4h16v-4h4v4h4v-36h-4zm-20 28h-4v-4h4v4zm0-8h-4v-4h4v4zm0-8h-4v-4h4v4zm20 16h-4v-4h4v4zm0-8h-4v-4h4v4zm0-8h-4v-4h4v4z"
                            fill="#000000"
                            class="color000 svgShape"
                        ></path>
                        <path fill="none" d="M0 0h48v48h-48z"></path>
                    </svg>
                </g>
            </svg>
        </a>

        <div>
            <div class="text-md footer-link inline-flex gap-4">
                <a [routerLink]="['/list/movies']" class="hover:text-gray-400">Movies </a>
                <a [routerLink]="['/list/series']" class="hover:text-gray-400"> Series</a>
            </div>
        </div>
    </div>
    <div class="flex flex-row flex-wrap items-center gap-4 justify-center">
        <div class="">Data Source:</div>
        <div>
            <img
                src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg"
                alt="movie data base"
                class="w-16 h-12 float-right"
            />
        </div>
    </div>

    <div class="px-4">
        <p class="footer__copy">© Favour Adetunji. All rights reserved</p>
    </div>
</div>
