.detailImage {
    width: 45rem;
    height: 30rem;
}

@media only screen and (min-width: 640px) {
    .detailImage {
        width: 25rem;
        height: 30rem;
    }
}

@media only screen and (min-width: 1440px) {
    .detailImage {
        width: 50rem;
        height: 40rem;
    }
}
