<!-- grid container -->
<div *ngIf="gameType === 'movie' && detailMovie; else elseBlock">
    <div class="p-5 grid grid-cols-1 grid-rows-2 sm:grid-cols-3 gap-5 sm:gap-8 sm:grid-rows-1">
        <!-- grid item -->
        <div class="" *ngIf="detailMovie.backdrop_path; else elseblock1">
            <img
                class="detailImage rounded-lg"
                src="https://image.tmdb.org/t/p/w500//{{ detailMovie.poster_path }}"
                alt="Movie Poster"
            />
        </div>
        <ng-template #elseblock1>
            <div class="bg-gradient-to-r from-purple-300 flex justify-center py-32">
                <p>No image</p>
            </div>
        </ng-template>
        <!-- grid item  and flex container-->
        <div class="flex flex-col gap-2 flex-wrap sm:col-span-2">
            <!-- flex  items-->
            <div class="font-bold text-xl">{{ detailMovie.title }}</div>
            <div class="flex flex-row flex-wrap text-sm gap-2">
                <div class="rounded border border- border-purple-500 py-1 px-2">{{ detailMovie.vote_average }}</div>
                <div class="py-1 px-2 border-l border-purple-500">{{ detailMovie.release_date }}</div>
                <div class="py-1 px-2 border-l border-purple-500" *ngIf="detailMovie.genres">
                    {{ detailMovie.genres[0].name }}
                </div>
                <div class="py-1 px-2 border-l border-purple-500">{{ detailMovie.runtime }}min</div>
            </div>
            <div class="p-0 m-0 font-medium">{{ detailMovie.tagline }}</div>
            <div class="font-bold text-xl pt-1 m-0">Overview</div>
            <div class="p-0 m-0">
                <div class="">
                    {{ detailMovie.overview }}
                </div>
            </div>
            <div class="flex flex-row flex-wrap gap-8 pt-2">
                <div class="flex flex-col">
                    <div class="p-0 m-0" *ngIf="detailMovie.production_companies">
                        {{ detailMovie.production_companies[0].name }}
                    </div>
                    <p class="font-medium">Production</p>
                </div>
                <div class="flex flex-col">
                    <div class="p-0 m-0" *ngIf="detailMovie.spoken_languages">
                        {{ detailMovie.spoken_languages[0].name }}
                    </div>
                    <p class="font-medium">Language</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- elseblock for series -->
<ng-template #elseBlock>
    <div *ngIf="detailSeries">
        <div class="p-5 grid grid-cols-1 grid-rows-2 sm:grid-cols-3 gap-5 sm:gap-8 sm:grid-rows-1">
            <!-- grid item -->
            <div class="" *ngIf="detailSeries.seasons; else elseblock2">
                <img
                    class="detailImage rounded-lg"
                    src="https://image.tmdb.org/t/p/w500//{{ detailSeries.seasons[0].poster_path }}"
                    alt=""
                />
            </div>
            <ng-template #elseblock2>
                <div class="bg-gradient-to-r from-purple-300 flex justify-center py-32">
                    <p>No image</p>
                </div>
            </ng-template>

            <!-- grid item  and flex container-->
            <div class="flex flex-col gap-2 flex-wrap sm:col-span-2">
                <!-- flex  items-->
                <div class="font-bold text-xl">{{ detailSeries.name }}</div>
                <div class="flex flex-row flex-wrap text-sm gap-2">
                    <div class="rounded border border- border-purple-500 py-1 px-2">
                        {{ detailSeries.vote_average }}
                    </div>
                    <div class="py-1 px-2 border-l border-purple-500">{{ detailSeries.first_air_date }}</div>
                    <div class="py-1 px-2 border-l border-purple-500" *ngIf="detailSeries.genres">
                        {{ detailSeries.genres[0].name }}
                    </div>
                    <div class="py-1 px-2 border-l border-purple-500">{{ detailSeries.episode_run_time }}mins</div>
                </div>
                <div class="p-0 m-0 font-semibold">{{ detailSeries.tagline }}</div>
                <div class="flex-row flex flex-wrap">
                    <div class="p-0 m-0 font-medium">Created By -</div>
                    <div class="p-0 m-0" *ngFor="let value of detailSeries.created_by">
                        <div>{{ value.name }}<span> </span></div>
                    </div>
                </div>
                <div class="flex flex-row flex-wrap gap-4 pt-2">
                    <div class="flex flex-col">
                        <div class="p-0 m-0" *ngIf="detailSeries.production_companies">
                            {{ detailSeries.production_companies[0].name }}
                        </div>
                        <p class="font-medium">Production</p>
                    </div>
                    <div class="flex flex-col">
                        <div class="p-0 m-0" *ngIf="detailSeries.spoken_languages">
                            {{ detailSeries.spoken_languages[0].name }}
                        </div>
                        <p class="font-medium">Language</p>
                    </div>
                    <div class="flex flex-col">
                        <div class="p-0 m-0">{{ detailSeries.last_air_date }}</div>
                        <p class="font-medium">Last Aired</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template *ngIf="!detailMovie && !detailSeries">
    <div class="m-5">Movie Details not available</div>
</ng-template>
