/* You can add global styles to this file, and also import other style files */
body {
    font-family: Roboto, arial, san-serif;
    background-color: white;
}

body * {
    font-family: Roboto, arial, san-serif;
    background-color: white;
    padding: 0;
    margin: 0;
}
